canvas {
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 1px solid black;
}

canvas2 {
  text-align: center;
  margin-left: 0px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.pixelated {
  image-rendering: optimizeSpeed; /* Legal fallback */
  image-rendering: -moz-crisp-edges; /* Firefox        */
  image-rendering: -o-crisp-edges; /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast; /* CSS3 Proposed  */
  image-rendering: crisp-edges; /* CSS4 Proposed  */
  image-rendering: pixelated; /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}
