// Variables

// Gray and Brand Colors for use across theme

$white: #fff !default;
$black: #000 !default;

//$theme-primary: #c49000;
//$theme-secondary: #fbc02d;
//$theme-tertiary: #fff263;

$theme-primary: #0f0f52;
$theme-secondary: darken($theme-primary, 33.5%);
$theme-tertiary: darken($theme-primary, 66.5%);

$primary: #f05f40 !default;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee

$brand-twitter: #1da1f2;
$brand-facebook: #3b5998;
$brand-google-plus: #dd4b39;

$font-family: 'Roboto', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
$font-family-header: 'Roboto', 'Lato', 'Helvetica', 'Arial', 'sans-serif';

$masthead-bg-img: 'http://media.bhudia.xyz/img/bg-pattern.png';
$cta-bg-img: 'http://media.bhudia.xyz/img/cta/rayban.jpg';

